@font-face {
  font-family: "iconfont"; /* Project id 2668454 */
  src: url('iconfont.woff2?t=1626079025633') format('woff2'),
       url('iconfont.woff?t=1626079025633') format('woff'),
       url('iconfont.ttf?t=1626079025633') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shang:before {
  content: "\e611";
}

.icon-icon-:before {
  content: "\e612";
}

.icon-zuanshix:before {
  content: "\e6be";
}

.icon-zuanshi:before {
  content: "\e628";
}

.icon-pinglun:before {
  content: "\e629";
}

