* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: flex;
}

ul li {
    list-style: none;
}

.father {
    display: flex;
    flex-flow: row nowrap;
    height: 56px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(251, 250, 250);
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
}

.father>div {
    display: flex;
    height: 100%;
    width: 50px;
    background-color: rgb(247, 248, 247);
    line-height: 56px;
}

.father>a {
    display: flex;
    height: 100%;
    width: 100px;
    line-height: 56px;
}

.father>div:nth-child(1) {
    display: flex;
    height: 100%;
    width: 200px;
    padding-left: 50px;
}

.father>div:nth-child(2) {
    display: flex;
    height: 100%;
    width: 100px;
    padding-left: 25px;
    background: azure url(images/1.PNG) no-repeat center left;
}

#search {
    display: flex;
    height: 60%;
    width: 150px;
    line-height: 56px;
}

.father>a:nth-child(1) div {
    display: flex;
    background: azure url(images/3.PNG) no-repeat center left;
}

.father>a:nth-child(2) div {
    display: flex;
    background: azure url(images/2.PNG) no-repeat center left;
}

.onlytext {
    color: #333;
}

.col {
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    height: 9999px;
    margin: 0 auto;
    background-color: rgb(230, 16, 16);
    overflow: hidden;
    align-items: flex-start;
}

.col .leftcol {
    display: flex;
    flex-flow: column wrap;
    flex: 2;
    background-color: rgb(15, 52, 218);
}

.col .rightcol {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    background-color: rgb(235, 243, 243);
}

.col .leftcol>div {
    display: flex;
    width: 100%;
    height: 120px;
    flex: 1;
    background-color: rgb(43, 233, 106);
    margin-top: 3px;
}

#label {
    display: flex;
    flex-flow: column wrap;
    height: 200px;
}

#label>a {
    display: flex;
    align-self: flex-end;
    width: 90%;
    height: 100px;
    flex: 1;
    background-color: rgb(209, 28, 170);
    /*background-size: 100% 100%;？？？*/
    margin-top: 3px;
}

#label>a:nth-child(1) {
    background: white url(https://cdn2.jianshu.io/assets/web/banner-s-daily-e6f6601abc495573ad37f2532468186f.png) center left;
    background-size: 100% 100%;
}

#label>a:nth-child(2) {
    background: white url(https://cdn2.jianshu.io/assets/web/banner-s-club-aa8bdf19f8cf729a759da42e4a96f366.png) center left;
    background-size: 100% 100%;
}

#label>a:nth-child(3) {
    background: white url(https://cdn2.jianshu.io/assets/web/banner-s-7-1a0222c91694a1f38e610be4bf9669be.png) center left;
    background-size: 100% 100%;
}

#label>a:nth-child(4) {
    background: white url(https://cdn2.jianshu.io/assets/web/banner-s-5-4ba25cf5041931a0ed2062828b4064cb.png) center left;
    background-size: 100% 100%;
}

#mobile {
    display: flex;
    align-self: flex-end;
    flex-flow: row wrap;
    height: 80px;
    width: 90%;
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
    border: rgb(126, 124, 124) solid 1px;
    border-radius: 5px;
}

#mobile>span:nth-child(1) {
    display: flex;
    flex: 1;
    margin: 5px 10px;
}

#mobile>span:nth-child(2) {
    display: flex;
    flex: 2;
    margin: 5px 10px;
}

.rightcol .ads {
    display: flex;
    align-self: flex-end;
    flex-flow: column wrap;
    height: 200px;
    width: 90%;
    margin-top: 20px;
    background-color: rgb(119, 177, 43);
}

ul {
    display: flex;
    align-self: flex-end;
    flex-flow: column wrap;
    width: 90%;
    margin-top: 20px;
}

ul .head div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 20px;
}

ul .content div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 50px;
    margin-top: 2px;
}

ul .content div sapn:nth-child(1) {
    display: flex;
    flex: 1;
}

ul .content div sapn:nth-child(2) {
    display: flex;
    flex: 4;
    background-color: rgb(14, 13, 13);
}

ul .content div sapn:nth-child(3) {
    display: flex;
    flex: 1;
    font-size: 12px;
}