body {
  background-color: whitesmoke
}

ul {
  list-style: none;
  flex-flow: column wrap;
  padding: 0px;
  margin: 0;
  width: 100%;
}

h1 {
  width: 280px;
  height: 120px;
  margin: 20px auto;
  line-height: 120px;
  font-size: 90px;
  color: rgb(255, 225, 185);
}

#main {
  width: 550px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

#listHead,
#list {
  width: 550px;
  display: flex;
}

#listHead>span {
  width: 35px;
  padding: 0%;
  font-size: 22px;
  color: #e6e6e6;
  line-height: 70px;
  font-weight: 1000;
  margin-left: 15px;
}

#listHead>span:hover {
  cursor: pointer;
}

#listHead>input {
  border: none;
  outline: none;
  width: 500px;
  height: 65px;
  font-size: 24px;
  padding: 0%;
}

#listTail {
  width: 550px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border-top: 2px solid whitesmoke;
  position: relative;
}

#listTail>span {
  margin-right: 20px;
}

#counter {
  margin-left: 10px;
}

#clear {
  position: absolute;
  right: 5px;
}

#clear:hover {
  cursor: pointer;
  text-decoration: underline;
}

.choose {
  position: relative;
  width: 50px;
}

.choose:hover {
  cursor: pointer;
}

.choose img {
  position: absolute;
  width: 80%;
  top: 8px;
  left: 5px;
}

.text {
  width: 470px;
  word-break: break-all;
  word-wrap: break-word;
  text-decoration: none;
  font-size: 24px;
  margin: 15px 0;
  cursor: default;
}

#list li {
  display: flex;
  width: 100%;
  font-size: 24px;
  border-top: 2px solid whitesmoke;
  position: relative;
}

.completed {
  color: rgb(228, 228, 228);
  text-decoration: line-through;
}

.changeColor {
  color: green!important;
}

.fork {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
}

#list li:hover {
  background: url(image/红叉.PNG) no-repeat right bottom;
}

.displayStatus:hover {
  cursor: pointer;
}

.getBorder {
  border: black 1px solid;
  border-radius: 2px;
}

.update {
  width: 200px;
  height: 55px;
  position: absolute;
  right: 0;
}