<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>To do list-vue</title>
  <link rel="stylesheet" href="todo-vue.css" />
</head>

<body>
  <div id="app">
    <h1>Todos</h1>
    <div id="main">
      <div id="listHead">
        <span @click="changeAllstatus()" v-bind:class="{changeColor:!allStatus}">﹀</span
          >
          <input
            type="text"
            placeholder="What needs to be done?"
            v-model="message"
            @keyup.enter="buildNew"
          />
        </div>
        <div id="list">
          <ul>
            <li v-for="(item,index) in itemsList" v-show="istrue(index)">
              <span class="choose" @click="changeStatus(index)">
                <img src="image/圆.PNG" v-show="item.status" />
                <img src="image/对钩.PNG" v-show="!item.status" />
              </span>
        <span class="text" v-bind:class="{completed:!item.status}" @dblclick="displayUpdate(index)">
                {{item.name}}
              </span>
        <span class="fork" @click="deleteItem(index)"></span>
        <input class="update" type="text" v-model="message" @keyup.enter="getUpdate(index)" style="display: none" />
        </li>
        </ul>
      </div>
      <div id="listTail" v-show="itemsList.length != 0">
        <span id="counter">{{counter}}items left</span>
        <span class="displayStatus" @click="displayStatus = 'All'" v-bind:class="{getBorder: displayStatus == 'All'}">
            All
          </span>
        <span class="displayStatus" @click="displayStatus = 'Active'" v-bind:class="{getBorder: displayStatus == 'Active'}">
            Active
          </span>
        <span class="displayStatus" @click="displayStatus = 'Completed'" v-bind:class="{getBorder: displayStatus == 'Completed'}">
            Completed
          </span>
        <span id="clear" @click="clearCompleted()" v-show="displayClearButton">Clear completed</span
          >
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="todo-vue.js"></script>
  </body>
</html>